.add{
    
    background-color: black;
   
    color: white;
    width: 30px;
    height: 30px;
}
.formDesc{
    height: 15em !important;
    
}
.btnServiceOn{
    border-radius: 20px;
    background-color: #8BD996;
    color: white;
}
.btnServiceOff{
    color: white;
    border-radius: 20px;
    background-color: grey;
}
.DatepickHotel{
    border: solid grey;
}
.descHotel1{
    margin-top: 50px;
}