.row{
    margin-left: 1em;
    margin-right: 1em;
    right:200em;
    align-items: stretch;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}

.container{
    max-width: 500em;   
    padding-bottom: 1em;
}

.hotels{
    border-radius: 20%;
    margin: 2em;
    margin-top: 40px;
}

.hotelImg{
   border-radius: 10px;
    width: 100%;
    display:flex;
    justify-content: space-between;
}

.content-1{
    width: 100%;
    margin-left: 0px;
}
.hotelDiv{
    width: 300px;
}


.buttonHotel{
    border-radius: 50px;
}

.resePunto{
    padding: 3px;
}