


.card > img {
  margin-bottom: .75rem;
}



.country{
  border-radius: 40px;
  width: 420px;
  height: 275px;
}




.gallery{
  display: inline-flexbox;
  width: fit-content;
  padding: 1em;
  margin-left: 5%;
  //background-color: red;
  
}

.gallery img, h2, a, p{
  width: fit-content;
  padding: 1em;
  display: inline-flexbox;
  
  //background-color: yellow;
}
.advice{
  display: flex;
  float: right;
  margin-right: 4em;
  background-color: lightseagreen;
  width: 20em;
  //margin: 0 1em -1em 0.5em;
  border-radius: 10%;
}
.hotelDetailContainer p, h3, ul {
  
  display: grid;
  
}


.boxServices{
  width: 20%;
  height: 30%;
  padding: none;  
  display: inline;
  float: center;
  
}