*{
    padding: 0;
    margin: 0;
    border: none;
    box-sizing: border-box;
}

// .cardgrouped{
//     margin: auto;
//     justify-content: space-around;
//     width: fit-content;
// }



.grid {
    display: flex;
    flex: 1;
    max-height: 320px;
    overflow-x: scroll;   
    justify-content: center;
    align-items: center;
}



.item-image img {
    max-width: 100%;
    min-width: 100px;
    height: 100px;
    border-radius: 20px;
    margin-top: 50px;
}

