.contenedor{
    margin: 5rem;
    padding: 5em;
    
    
}
.container{
    display: inline-block;
    
}
.resenasStyle{
     margin: 3rem;
    padding: 4em;
    
}
.lugares{
   padding-left: 105px;
}
#myTab{
    padding-right: 55px;
}
.header {
  background: linear-gradient(180deg, #8BD996 0%, rgba(121, 139, 242, 0.06) 100%) no-repeat center;
  background-size: cover;
  min-height: 100vh;
  
   
  
}

.palNav{
 background: #8BD996;
 
}

ul{
    color: white;
}
.header .navbar {
  background-color: transparent !important;

} 

.btn { 
 
 border-radius: 25px;
 margin-left: 5px;
 margin-bottom: 10px;
 width: 100px;
 height: 40px;
}
.push-right {
  margin-left: auto;
}

.hr-text {
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  color: black;
  text-align: center;
  height: 1.5em;
  opacity: .5;
  &:before {
    content: '';
    // use the linear-gradient for the fading effect
    // use a solid background color for a solid bar
    background: linear-gradient(to right, transparent, #818078, transparent);
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
  }
  &:after {
    content: attr(data-content);
    position: relative;
    display: inline-block;
    color: black;

    padding: 0 .5em;
    line-height: 1.5em;
    // this is really the only tricky part, you need to specify the background color of the container element...
    color: #818078;
    background-color: #fcfcfa;
  }
}
.card-horizontal {
  display: flex;
  flex: 1 1 auto;
}

//---------------------------------------
/* SEARCH */
#searchBar{
    filter: drop-shadow(5px 5px 10px #444);
    background-color: whitesmoke;
    margin: auto;
    padding-top: 1em ; 
    padding-left: 1em;   
    width: 80rem;
    top: -13em;
    position: relative;
    border-radius: 120px; 
    display: flex;
     
     
}
#testing{
  position: relative;
  padding-top: 2em ; 
  padding-right: 28em;     
  top: 13em;
  display: flex;
  
  
}
#testing2{
  
  padding-top: 15em ; 
  padding-left: 4em;       
  position: absolute;
  
}
#testing3{
  
  padding-top: 14.5em ; 
  padding-left: 65em;       
  position: absolute;
  display: inline;
  
}

.botones{
  border-color: black;
  border-width: 0.5px;
  border-style: solid;
  
}
.botonBest{
  height: 3em;
  width: 8em;
  
}
.listHotels{
  padding-top: 16em ; 
  
  display: inline;
}


.bgcolor-searchBar{
    padding-bottom: 12px ;
    width: 1200px;    
    margin-top: 10px;
    border-radius: 120px;    
    font-size: 20px;
   
    
}

.textMargin{
    display: inline;
    padding: 1em;
}

//---------------------------------------

#landingImg{
    //margin-left: 400px; 
    //margin-top: 30px;
    position: inherit;
    margin: -15em 0 12em 64em;
    
}

.botonCenter{
    display: flex;
    
}