.header {
  background: linear-gradient(180deg, #8BD996 0%, rgba(121, 139, 242, 0.06) 100%) no-repeat center;
  background-size: cover;
  min-height: 100vh;
}

.header .navbar {
  background-color: transparent !important;
}

