.hotel-item {
    display: flex;
    flex-direction: column;
    min-width: 200px;
    max-width: 700px;
    padding: 8px;
    margin: 0 4px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
    justify-content: flex-end;
    align-items: center;
    border-radius: 50px;
}


.buttonHotels{
    border-radius: 20px;
    margin-top: 20px;
    
}
.reseñas{
    width: 180px;
   
}

.content-2{
    
    align-items: center;
    margin-left: 5px;
}
