.paymentImage{
   
    color: white;
    background-color: #68AEB6;
}
.paymentCard{
    
    background-color: #68AEB6;
    color: white;
}
.PaymentGateway{
    display: inline-block;
    margin-top: 50px;
    margin-left: 70px;
    margin-right: 70px;
}
.country-name{
    color: black;
}

