.paymentImage{
   
    color: white;
    background-color: #68AEB6;
}
.paymentCard{
    width: 25rem;
    background-color: #68AEB6;
    color: white;
}
.PaymentGateway{
    margin-top: 50px;
    margin-left: 70px;
    margin-right: 70px;
}
.country-name{
    color: black;
}