.btnReview{
    background-color: #565657;
    color: white;
}
.group1{
    width: 400px;
}
.ReviewsCards{
    display: flex;
    justify-content: space-between;
    
}

.ReviewsCards .card{
    width: 24%;
    
}