.header {
    background: linear-gradient(180deg, #8BD996 0%, #b7bfe7 100%) no-repeat center;
    background-size: cover;
    min-height: 100vh;
  }
.header .navbar {
    background-color: transparent ;
  
  } 

  //-----------------------------------------------------
  //Imagen 

#landingImg{
    display: inline-flex;    
    margin: -7em 0em 0em 49em;  
}

@media (max-width: 1240px){
    #landingImg{
      z-index: 1;
    }
  }
@media (max-width: 1300px){
    #landingImg{
      margin: 0em 0em 0em 7em;
    }
}

//---------------------------------------------------
.botonCenter{
    display: flex;
    
}


.coloredh1, h1{
    color: #394273;
    font-weight: 700;
    //position: relative;
    font-size: 310%;
    top: 6em;
  }




