.imgRedonda img{
    position: relative;
    width: 20em;
    height: 20em;
    overflow: hidden;
    border-radius: 80%;
    border-top:10px solid rgb(255, 230, 0) ;
    border-left:10px solid rgb(255, 230, 0) ;
   
   }